
.scores {
    background-color: lightsalmon;
    padding: 10px;
}

.pie-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

/*
@media (max-width: 768px) {
    .Submission {
        flex-direction: column; 
        align-items: center;
    }

    .scores {
        width: 100%; 
    }

    .piechart-container {
        width: 100%;
        padding-top: 20px;
    }
}
*/