.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(207, 223, 228);
    position: relative;
  }
  .circle::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: #141414;
    height: 10px;
    margin-top: -5px;
    top: 50%;
    left: 5px;
    right: 5px;
    z-index: 9;
  }
  .circle::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: #201f1f;
    width: 10px;
    margin-left: -5px;
    left: 50%;
    top: 5px;
    bottom: 5px;
    z-index: 9;
  }

  /* Hover Effect */
.circle:hover {
    transform: scale(1.2); /* Slightly enlarge */
    background-color: rgb(160, 200, 220); /* Change color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add shadow */
}
.case-card:hover {
    transform: scale(1.1); /* Slightly enlarge */
    background-color: rgb(174, 177, 179); /* Change color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add shadow */
}