

/* Cards.css */
.cards-container {
    display: flex;
    gap: 1rem;
    background-color: rgb(255, 0, 179);
    padding: 3%;
    z-index: 1; /* Ensure cards are at a lower z-index */
  }
  
  .criteria-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 0.7rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 100px;
    z-index: 2; /* Ensure cards are at a lower z-index */
}




  /* Form */
  #criteria-form {
    width: 50%;
    background-color: rgb(232, 233, 229);
    border-radius: 3%;
    padding: 50px;
    z-index: 4; /* Ensure cards are at a lower z-index */
    max-height: calc(80vh - 100px); /* Adjust to fit within the form */
    overflow-y: auto;

  }

  

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
    align-items: center;
    z-index: 3; /* Ensure cards are at a lower z-index */
    visibility:hidden;
  }
