.App {
    height:auto;
    background-color: rgb(210, 215, 198); /* Ensures full-page coverage */
    background-color: rgb(158, 247, 235); /* Ensures full-page coverage */
}

.root {
    background-color: rgb(210, 215, 198); /* Ensures full-page coverage */

}